/*全局reset*/
*{
	margin:0;
	padding:0;
}

/*全局微软雅黑*/
body{
	font-family: '微软雅黑';
}

/*img边框取消*/
img{
	border:0;
}

/*底部顶上颜色边框*/
.footer_top{
	width: 100%;
	height: 26px;
	background: #F6F6F6;
}

/*底部中背景*/
.footer_bg{
	width: 100%;
	height: 190px;
	background: #1D1B1B;
}

/*底部黑色区域居中总框*/
.footer_main{
	width: 1100px;
	height: 305px;
	margin: 0 auto;
	list-style: none;
	position: relative;
}
.footer_main li{
	width: 161px;
	height: 297px;
	float: left;
	padding-top: 8px;
}
/*底部导航标题字*/
.footer_span{
	display: block;
	width: 161px;
	height: 62px;
	line-height: 62px;
	font-size: 16px;
	color:#999999;
}
/*底部导航具体字*/
.footer_main li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #999999;
	text-decoration: none;
}
.footer_main li a:hover{
	text-decoration: underline;
}
/*底部联系方式*/
.footer_contact{
	display: block;
	width: 161px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #999999;
}

/*二维码区域*/
.qrc{
	width: 100px;
	height: 138px;
	position: absolute;
	bottom:16px;
	right: 0px;
}
.qrc img{
	display: block;
	width: 94px;
	height: 94px;
	margin: 0 auto;
}
.qrc span{
	display: block;
	width: 100px;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	color: #999999;
	text-align: center;
}


/*底部黑色区域居中总框2*/
.footer_main2{
	width: 1100px;
	height: 145px;
	margin: 0 auto;
}
/*底部黑色区域左边大部分*/
.footer_m2_l{
	width: 750px;
	height: 145px;
	float: left;
	padding-top: 45px;
}
/*左大部分ul上*/
.footer_m2_l_1{
	width: 750px;
	height: 26px;
	list-style: none;
}
.footer_m2_l_1 li{
	/*width: 145px;*/
	padding-left: 33px;
	padding-right: 70px;
	float: left;
	height: 26px;
	line-height: 26px;

}
.footer_m2_l_1 li a{
	color:#999999;
	text-decoration: none;
	font-size: 18px;
}
.footer_m2_l_1 li a:hover{
	text-decoration: underline;
}
/*左大部分ul下*/
.footer_m2_l_2{
	width: 750px;
	list-style: none;
	padding-top: 35px;
}
.footer_m2_l_2 li{
	padding-right: 40px;
	color:#999999;
	float: left;
	font-size: 18px;
}

/*黑色区域中部*/
.footer_m2_m{
	width: 30px;
	height: 145px;
	float: left;
	padding-top: 27px;
	padding-left: 10px;
}
/*黑色区域右部*/
.footer_m2_r{
	width: 130px;
	height: 130px;
	float: left;
	text-align: center;
	padding-top: 45px;
	padding-left: 130px;
}
.footer_m2_r img{
	width: 94px;
	height: 94px;
	margin: 0 auto;
}
.footer_m2_r span{
	display: block;
	width: 130px;
	height: 20px;
	line-height: 20px;
	color:#999999;
	font-size: 14px;
	padding-top: 7px;
}
/*友情链接样式*/
.friendly_link{
	width: 100%;
	height: 44px;
	background: #EB4647;
}
.friendly_l_c{
	width: 1100px;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color:white;
	margin: 0 auto;
}
.friendly_l_c span{
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color:white;
}
.friendly_l_c a{
	padding-left: 10px;
	padding-right: 10px;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color:white;
	text-decoration: none;
}
.friendly_l_c a:hover{
	text-decoration: underline;
}

/*底部认证、备案大背景*/
.footer_rzba{
	width: 100%;
	height: 65px;
	background: #F6F6F6;
}
/*底部认证总块*/
.footer_rz{
	width: 750px;
	height: 72px;
	margin: 0 auto;
	line-height: 87px;
	padding-top: 15px;
	display: none;
}
.footer_rz img{
	height: 34px;
	line-height: 34px;
	padding-right:20px;
}

/*底部备案总框*/
.footer_ba{
	width: 750px;
	height: 12px;
	line-height: 12px;
	margin: 0 auto;
	font-size: 12px;
	color:#999999;
	text-align: center;
	padding-top: 20px;
}