body{background-color:#F6F6F6; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu  }
.main{width:1100px;margin:0 auto;background-color:#F6F6F6;}


/*公告滚动条*/
.part1{width:100%;height:54px;border:solid 1px #D9D9D9;border-top:none;background-color:#fff;margin-top: 10px;}
.part1-1{width:139px;height:53px;border:solid 1px #F5F5F5;border-top:none;text-align:center;line-height:53px; display: table-cell;vertical-align:middle;float:left;font-size:14px;color:#939393}
.part1-1 img{vertical-align:middle;}
.part1-2{width:700px;float:left;height:53px;line-height:53px;overflow:hidden;font-size:12px;border:solid 1px #F5F5F5;border-top:none;border-right:none;visibility: visible;position: relative; z-index: 2; }
.part1-2 ul{margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; height: 243px; top: -189px;}
.part1-2 ul li{overflow: hidden; float: none; width: 700px; height: 53px;}
.part1-2 a{padding-left:20px; text-decoration:none;color:#939393}
.part1-2 span{float:right;color:#939393}


/*滚动条更多按钮*/
.notive-more {float: right;width:250px;height:53px;}
.notive-more a { border: 1px solid #a7a7a7; border-radius: 3px;color: #666;display: block;font-size: 14px; height: 25px;line-height: 25px; text-align: center; width: 84px;margin:0 auto; text-decoration:none;margin-top:14px;}
.notive-more a:hover{border: 1px solid #bc1125;color:#bc1125}


/*服务保障*/
.part2{width:100%;height:310px;border:solid 1px #F4F4F4;margin-top:10px;background-color:#fff;}
.part2-1{width:100%;height:42px;border-bottom:solid 1px #f4f4f4}
.part2-1-1{width:100px;border-bottom:solid 2px #BC1125;height:41px;text-align:center;font-weight:bold;line-height:41px;font-size:14px}
.part2-2{float:left;border-bottom:solid 1px #f4f4f4;}
.part2-2-1{width:274px;height:255px;float:left;border-left:solid 1px #f4f4f4;text-align:center;}
.part2-2-1 img{margin-top:10px;}
.part2-2-1 div{width:220px;height:40px;line-height:20px;font-size:12px;color:#939393;text-align:center;padding-top:15px;margin:0 auto;}



/*投资项目*/
.part3{width:100%;height:523px;border:solid 1px #F4F4F4;margin-top:10px;background-color:#fff;}
.part3-2{width:100%;height:466px;margin-top:2px;}
.part3-2-1{width:266px;height:466px;background-color:#FE6C6F;float:left;}
.part3-2-2{width:265px;height:466px;background-color:#16C3EE;float:left;margin-left:13px;}
.part3-2-3{width:265px;height:466px;background-color:#FFB925;float:left;margin-left:13px;}
.part3-2-4{width:265px;height:466px;background-image:url("../images/category4.png");float:left;margin-left:13px;}


/*投资项目中圆形进度效果样式*/
#canvas .circle {display: inline-block;}
.circles-decimals {font-size: .6em;color:#FEFEFE;}
.circles-integer{color:#FEFEFE;font-size:20px;}	
.circles-text{color:#FEFEFE;}
.category{width:100%;height:220px;position:absolute;top:150px;}
.categoryicon{position:absolute;right:0;top:30px;}
.categoryicon2{position:absolute;right:0;top:45px;}
.categoryname{width:100%;height:40px;text-align:center;line-height:40px;font-size:24px;color:#fff;}
.categorydetailpart{width:33.33%;height:80px;text-align:center;line-height:80px;float:left;padding-top:25px;}
.catdetail1{width:100%;height:31px;text-align:center;line-height:31px;font-size:14px;color:#fff;}
.catdetail1-1{width:100%;height:31px;text-align:center;line-height:31px;font-size:18px;color:#fff;font-weight:bold;}
.categorydetailpart2{width:60%;height:80px;line-height:80px;float:left;}
.catdetail2{width:100%;height:22px;line-height:22px;font-size:14px;color:#fff;padding-left:15px;}
.part3btn{position:absolute;left:47px;bottom:25px;}



/*行业资讯滚动*/
.part4{width:100%;height:480px;border:solid 1px #F4F4F4;margin-top:10px;background-color:#fff;}
.part4-2{height:425px;}
.visual {height: 350px;min-width: 1000px;position: relative;width: 100% !important;}
.visual ul.slides_container {display: inline-block;height: 400px;position: relative;width: 100% !important;overflow:hidden;list-style:none;}
.visual ul.slides_container li {display: none;height: 450px;overflow: hidden;position: relative;text-align: center;width: 100% !important;}
.visual ul.slides_container li img { display: block;  height: 350px;}
.visual ul.slides_container li a {height: 100%;left: 0; position: absolute;top: 0;width: 100%;}
.imgVis {left: 50%;margin-left: -960px;position: absolute;top: 0;}
.slideControl {bottom: 354px;  height: 350px;  left: 0;  margin: 0 auto;    overflow: hidden;   position: relative;    width: 100%; z-index: 99;}
.slideControl ul.pagination { bottom: 4px;height: 14px; left: 50%;margin-left: -49px;overflow: hidden;position: absolute;width: 96px;z-index: 999;}
.slideControl ul.pagination li {float: left;height: 14px; padding: 0 5px;width: 12px !important;}
.slideControl ul.pagination li a {background: rgba(0, 0, 0, 0) url("../images/index/dian.png") repeat scroll 0 0;cursor: pointer;display: block;height: 12px;width: 12px;}
.slideControl ul.pagination li a:hover, div.slideControl ul.pagination li.current a {background-position: center bottom;}
.slide_news_lBt {left: 20px;margin-top: -40px;position: absolute;top: 50%;}
.slide_news_lBt a {background: rgba(0, 0, 0, 0) url("../images/left1.png") no-repeat scroll center bottom;display: block;height: 80px;width: 30px;}
.slide_news_lBt a:hover {background: rgba(0, 0, 0, 0) url("../images/left.png") no-repeat scroll center top;}
.slide_news_rBt {margin-top: -40px;position: absolute;right: 20px;top: 50%;}
.slide_news_rBt a {background: rgba(0, 0, 0, 0) url("../images/right1.png") no-repeat scroll center bottom;display: block;height: 80px;width: 30px;}
.slide_news_rBt a:hover {background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center top;}
.statusbar{width: 23%;float:left;margin-left:20px;}
.slidescontent{width: 900px; height: 260px;  display: block;top:120px;left:60px ;  position: absolute;}
.gsnewstitle{font-size:16px;text-align:left;color:#6D6D6D}
.gsnewsdescription{font-size:14px;text-align:left;color:#B4B4B4;height:130px;}
.newsimgdiv{float:left;height:100%;width:45%;margin-left:20px}
.tag_more{  border: 1px solid #a7a7a7;
            border-radius: 3px;
            color: #666;
            font-size: 14px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            width: 84px;}
.tag_more:hover{border: 1px solid #bc1125;color:#bc1125}

/*合作伙伴*/
.main2-1{width:1100px;margin:0 auto;}
.main2{height:180px;width:100%;background-color:#fff;margin-top:15px;}

